#------------------------------------------------------------------------------
# Container Services
#------------------------------------------------------------------------------
define service {
    use                    local-service
    service_description    Container_IDM_neb-nginx0
    check_command          check-container-alive!{{ nginx_container_name }}
    }

define service {
    use                    local-service
    service_description    Container_IDM_neb-thruk0
    check_command          check-container-alive!{{ thruk_container_name }}
    }

define service {
    use                    local-service
    service_description    Container_IDM_neb-celery0
    check_command          check-container-alive!{{ celery_container_name }}
    }

define service {
    use                    local-service
    service_description    Container_IDM_neb-npcd0
    check_command          check-container-alive!{{ npcd_container_name }}
    }

define service {
    use                    local-service
    service_description    Container_IDM_neb-rabbitmq0
    check_command          check-container-alive!{{ rabbitmq_container_name }}
    }

define service {
    use                    local-service
    service_description    Container_IDM_neb-redis0
    check_command          check-container-alive!{{ redis_container_name }}
    }

define service {
    use                    local-service
    service_description    Container_IDM_neb-php0
    check_command          check-container-alive!{{ php_container_name }}
    }

define service {
    use                    local-service
    service_description    Container_IDM_neb-arbiter0
    check_command          check-container-alive!{{ arbiter_container_name }}
    }

define service {
    use                    local-service
    service_description    Container_IDM_neb-broker0
    check_command          check-container-alive!{{ broker_container_name }}
    }

define service {
    use                    local-service
    service_description    Container_IDM_neb-poller0
    check_command          check-container-alive!{{ poller_container_name }}
    }


define service {
    use                    local-service
    service_description    Container_IDM_neb-scheduler0
    check_command          check-container-alive!{{ scheduler_container_name }}
    }

define service {
    use                    local-service
    service_description    Container_IDM_neb-receiver0
    check_command          check-container-alive!{{ receiver_container_name }}
    }

define service {
    use                    local-service
    service_description    Container_IDM_neb-reactionner0
    check_command          check-container-alive!{{ reactionner_container_name }}
    }

define service {
    use                    local-service
    service_description    Container_IDM_neb-shinkencfg
    check_command          check-container-alive!{{ shinkenconfiguration_container_name }}
    }

