define host {
    use                 linux-server
    host_name           {{ neb_name }}
    alias               {{ neb_name }}
    address             {{ neb_name }}
    _rabbitmqusr        $USER19$
    _rabbitmqkey        $USER20$
    _rabbitmqport       15672
    _redisport          6379
    _precommand         ''
    _postcommand        ''
#    _address_command    /sbin/ifconfig eth0 | /bin/awk '/inet addr/ {print substr($2, 6)}'
     _address_command   grep $HOSTNAME$ /etc/hosts | awk '{print $1}'

    }

