#==============================================================================
# redis.cfg - COMMAND DEFINITIONS FOR REDIS CHECKS
#
#==============================================================================

#------------------------------------------------------------------------------
# Redis Check Commands
#------------------------------------------------------------------------------

define command {
    command_name    check_redis
    command_line    $PLUGINSDIR$/check_redis.pl -H {{ redis_container_name }} -p $_HOSTREDISPORT$ $ARG1$
    }

