#==============================================================================
# SERVICE TEMPLATES
#==============================================================================

# These are NOT a real services, just templates!

define service{
    name                            generic-service ; The 'name' of this service template
    active_checks_enabled           1               ; Active service checks are enabled
    passive_checks_enabled          1               ; Passive service checks are enabled/accepted
    parallelize_check               1               ; Active service checks should be parallelized (disabling this can lead to major performance problems)
    obsess_over_service             1               ; We should obsess over this service (if necessary)
    check_freshness                 0               ; Default is to NOT check service 'freshness'
    notifications_enabled           1               ; Service notifications are enabled
    event_handler_enabled           1               ; Service event handler is enabled
    flap_detection_enabled          1               ; Flap detection is enabled
    failure_prediction_enabled      1               ; Failure prediction is enabled
    process_perf_data               1               ; Process performance data
    retain_status_information       1               ; Retain status information across program restarts
    retain_nonstatus_information    1               ; Retain non-status information across program restarts
    is_volatile                     0               ; The service is not volatile
    check_period                    24x7            ; The service can be checked at any time of the day
    max_check_attempts              3               ; Re-check the service up to 3 times in order to determine its final (hard) state
    check_interval                  10              ; Check the service every 10 minutes under normal conditions
    retry_interval                  2               ; Re-check the service every two minutes until a hard state can be determined
    contact_groups                  admins          ; Notifications get sent out to everyone in the 'admins' group
    notification_options            w,c,r           ; Send notifications about warning, critical, and recovery events
    notification_interval           60              ; Re-notify about service problems every hour
    notification_period             24x7            ; Notifications can be sent out at any time
    action_url                      /pnp4nagios/graph?host=$HOSTNAME$&srv=$SERVICEDESC$' class='tips' rel='/pnp4nagios/popup?host=$HOSTNAME$&srv=$SERVICEDESC$
    register                        0               ; DONT REGISTER THIS DEFINITION - ITS NOT A REAL SERVICE, JUST A TEMPLATE!
    }

define service{
    name                  local-service
    use                   generic-service
    host_name             {{ neb_name }}
    max_check_attempts    4
    check_interval        5
    retry_interval        1
    register              0
    }

define service{
    name                     alive-service
    use                      generic-service
    host_name                {{ neb_name }}
    check_interval           5
    notifications_enabled    0            ; Disable notification for any state change
    register                 0
    }

define service{
    name                   resource-service
    use                    generic-service
    max_check_attempts     5
    check_interval         2
    register               0
    }

define service{
    name                    hardware-service
    use                     generic-service
    check_interval          30
    retry_interval          5
    notification_options    r,c,s
    register                0
    }

define service{
    name                    sensitive-hardware-service
    use                     hardware-service
    notification_options    r,w,c,s
    register                0
    }

define service{
    name                  critical-service
    use                   generic-service
    max_check_attempts    1
    check_interval        2
    retry_interval        1
    register              0
    }

define service{
    name              standard-service
    use               generic-service
    check_interval    5
    register          0
    }

define service {
    name              linux-service
    use               standard-service
    hostgroup_name    linux-servers
    register          0
    }

define service{
    name                     base-service
    use                      generic-service
    check_interval           5
    retry_interval           1
    max_check_attempts       16
    register                 0
    notifications_enabled    0
    }

define service{
    name                  complex-service
    use                   generic-service
    max_check_attempts    7
    check_interval        2
    register              0
    }

define service{
    name                      passive-service
    use                       generic-service
    is_volatile               1
    initial_state             u
    active_checks_enabled     0
    passive_checks_enabled    1
    flap_detection_enabled    0
    notification_interval     120
    notification_options      w,u,r,c,s
    notifications_enabled     1
    check_command             check_nothing
    register                  0
    }

define service {
    name                     process-metrics-service
    use                      standard-service
    register                 0
    notifications_enabled    0
    }

define service {
    name              isp-process-service
    use               process-metrics-service
    hostgroup_name    isp-process-servers
    check_interval    3
    register          0
    }

define service {
    name              ispff-process-service
    use               isp-process-service
    hostgroup_name    ispff-process-servers
    register          0
    }

define service {
    name              xcelera-service
    use               process-metrics-service
    hostgroup_name    xcelera-servers
    register          0
    }

define service {
    name              cev-service
    use               process-metrics-service
    hostgroup_name    cev-servers
    register          0
    }

define service {
    name              dcx-service
    use               process-metrics-service
    hostgroup_name    dcx-servers
    register          0
    }

define service {
    name              ibm-xseries-service
    use               standard-service
    hostgroup_name    ibm-xseries-servers
    register          0
    }

define service {
    name              ibm-xseries-imm-service
    use               standard-service
    hostgroup_name    ibm-xseries-imm-servers
    register          0
    }

define service {
    name              less-often-service
    use               generic-service
    check_interval    720                 ; Check twice in 24hours
    is_volatile       1                   ; The service is volatile
    register          0
    }

define service {
    name                     informational-service
    use                      less-often-service
    notifications_enabled    0            ; Disable notification for any state change
    register                 0
    }

define service{
    name         local-informational-service
    use          informational-service
    host_name    {{ neb_name }}
    register     0
    }

define service {
    name              wmi-service
    use               standard-service
    servicegroups     wmi-services
    check_interval    10
    register          0
    }

define service {
    name             wmi-informational-service
    use              informational-service
    servicegroups    wmi-services
    register         0
    }

define service {
    name          wmi-dependant-service
    use           wmi-service
    _wmiprefix    $PLUGINSDIR$/short_c.py -X '$SERVICESTATE::OS__Microsoft__Windows__WMI__Status$' -C
    register      0
    }

define service {
    name          wmi-dependant-informational-service
    use           wmi-informational-service
    _wmiprefix    $PLUGINSDIR$/short_c.py -X '$SERVICESTATE::OS__Microsoft__Windows__WMI__Status$' -C
    register      0
    }

define service {
    name                  master-service
    use                   standard-service
    max_check_attempts    2
    check_interval        60
    initial_state         u
    register              0
    }

define service{
	name                  three-check-service
	use                   standard-service
	max_check_attempts    3                      ; Re-check the service for 3 attempts before raising hard CRITICAL
	check_interval        5
	retry_interval        1                      ; Re-check the service every one minute until a hard state can be determined
	register              0
	}

