{#- The "if" is to get the update to run, "do" extension may not be available #}
{% if shinken_initial_resources.update(shinken_resources) %}{% endif %}
{% for key, value in shinken_initial_resources.iteritems() %}
${{key}}$={{value}}
{% endfor %}
