{#- The "if" is to get the update to run, "do" extension may not be available #}
{% if default_rest_resources.update(rest_resources) %}{% endif %}
{% for key, value in default_rest_resources.iteritems() %}
${{key}}$={{value}}
{% endfor %}

