{#- The "if" is to get the update to run, "do" extension may not be available #}
{% if default_threshold_values.update(threshold_values) %}{% endif %}
{% for key, value in default_threshold_values.iteritems() %}
{% if value is iterable and value is not string %}
${{key}}$="{{value}}"
{% else %}
${{key}}$={{value}}
{% endif %}
{% endfor %}
$SITEID$={{siteid}}

